<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='css' href='/css/style.css' />
    <script type="module" src="record.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <button id="startPauseBtn">Start Recording</button>
    <button id="stopBtn" disabled>Stop Recording</button>
    <button id="uploadBtn" disabled>Upload</button>
    <br>
    <audio id="audioPlayer" controls></audio>
    <p>Web Sistemak (2023 - 2024)</p>
  </body>
  <script type="module" src="/js/main.js"></script>
</html>
