<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="module" src="record.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="liRecordButton"></div>
    <div id="liPlayButton"></div>
    <div id="liUploadButton"></div>
    <br>
    <p>Web Sistemak (2023-2024)</p>
  </body>
  <script type="module" src="/js/main.js"></script>
</html>
