<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <style>
      ul {
          list-style: none;
          margin: 0;
          padding: 0;
      }
  </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="liRecordButton"></div>
    <div id="liPlayButton"></div>
    <div id="liUploadButton"></div>
    <br>
    <ul id="fileList">
    </ul>
    <p>Web Sistemak (2023-2024)</p>
  </body>
  <script src="/utils/moment/moment.js"></script>
  <script src="/utils/moment/eu.js"></script>
  <script src="/utils/snackbar/snackbar.min.js"></script>
  <link rel="stylesheet"href="/utils/snackbar/snackbar.min.css" />
  <script type="module" src="/js/main.js"></script>
</html>
