body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 40px;
}

h1 {
  color: #333;
}

#liRecordButton,
#liPlayButton,
#liUploadButton {
  display: inline-block;
  margin: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

p {
  color: #888;
  margin-top: 40px;
}
